<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>MOHAMMAD MONIR PORTFOLIO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Old+Standard+TT&family=Poppins:wght@200;300;400;500;600;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="png" href="/images/mmlogo.png" />
  </head>
  <body>
    <div class="up">
      <div>
        <p class="xtext">Innovation starts with a dream.</p>
      </div>
    </div>
    <div class="down">
      <div>
        <p class="xtext">Design is the art of creating experiences.</p>
      </div>
    </div>
    <div class="right">
      <div class="side">
        <span class="xtext rotated-text"
          >We make innovative and professional.</span
        >
      </div>
    </div>

    <div class="left">
      <div class="side2">
        <span class="xtext rotated-text2">lets work together.</span>
      </div>
    </div>
    <div class="main">
      <a href="/work" class="div" id="div1"><span class="titles">WORK</span></a>
      <a href="/about" class="div" id="div2"
        ><span class="titles">ABOUT</span></a
      >

      <div class="div" id="middlediv">
        <img src="images/mmlogo.png" alt="logo" id="logo" />

        <img
          src="images/mypiccomplete.png"
          alt="complete pic"
          class="mypic"
          id="completepic"
        />
      </div>
      <a href="/connect" class="div" id="div3"
        ><span class="titles">CONNECT</span></a
      >
      <a href="/services" class="div" id="div4"
        ><span class="titles">SERVICES</span></a
      >
    </div>

    <script src="/javascript/full.js"></script>
  </body>
</html>
